<div class="col-10 offset-3">
  <div class="card" style="width: 40rem;">
    <%= image_tag 'tina.jpg', class: 'card-img-top center' %>
    <div class="card-body center">
      <h5 class="card-title">Colorful Creations by Tina Romero-Margaillan</h5>
      <p class="card-text">About Tina.....</p>
    </div>
  </div>
</div>