<div class="col-10 offset-3">
  <div class="card" style="width: 40rem;">
    <%= image_tag 'tina.jpg', class: 'card-img-top center' %>
    <div class="card-body center">
      <h5 class="card-title">Colorful Creations by Tina Romero-Margaillan</h5>
      <p class="card-text">Hello, and thank you for stopping by and looking at my website.  I live in Tucson Arizona a little ways out of the city, where every evening I can sit and watch the most beautiful sunsets.  Each sunset is unique in the colors I see, and I love color. Bright beautiful colors which inspired me in my painting methods.  I love to “refurbish “ pieces that have no life to them anymore.  I shop at local thrift stores, yard sales, estate sales, etc, and buy the items no longer wanted and giving them a whole new look.  I also create unique suncatchers to hang out in your trees, patio, or in your windows.  I use only glass beads that really catch the sun and really catch your eye. My suncatchers are one of a kind and make wonderful gifts for any occasion!</p>
    </div>
  </div>
</div>